body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.correct {
    background-color: lightgreen;
    border: 1px solid green;
    padding: 10px;
    margin-bottom: 10px;
}

.incorrect {
    background-color: #ffb3b3;
    border: 1px solid #ff4d4d;
    padding: 10px;
    margin-bottom: 10px;
}
